body{
    font-family: 'Lato', sans-serif;
}
.page_margin{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    }
h3{
    font-size: 30px;
    text-align-last: center;
}
h4{
    font-size: 20px;
}
p{
    text-align: justify;
    font-size: 25px;
}
.color_h1{
    color: dodgerblue;
}
.color_h2{
        color: rgb(221, 219, 236);
    }
#line{
    border-left: 8px solid;
    border-image:5px;
    border-image-slice: 1;
    }
.part_1{
    display: flex;
    margin-bottom: 100px;
   }
.part_1 img{
        width: 80%;
        margin: 50px;
    }
.link_button{
        font-size: 20px;
        text-decoration: none;
        padding: 10px 40px;
        border-radius: 5px;
        background-color: salmon;
        }
.a_color{
    color: oldlace;
    font-weight: bold;
}
.focused{
    width: 70%;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2%;
    background-color: rgb(181, 203, 243); 
}
.miss-22{
        text-align: center;
    }
.flaxible{
        display: flex;
        margin-bottom: 100px;
    }
.box{        
        width: 50%;
        margin-left: 3%;
        margin-right: 3%;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 2%
    }
.mission img{
    width: 70%;
}
.mission{
        background-color: rgb(241, 143, 192);
    }
.vision img{
    width: 50%;
}
.vision{
        background-color: rgb(100, 204, 100);
    }
    .goals img{
        width: 50%;
    }
.goals{
        background-color: rgb(153, 111, 236);
    }
.part-3 img{
        width: 60%;
        margin-left: 40px;
    }
.part-3{
        display: flex;
        margin-bottom: 100px;
    }
.DWL{
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2%;
    background-color: mistyrose;
}
.part-4{
    display: flex;
    margin-bottom: 100px;
}
.part-4 img{
    width: 55%;
    margin-left: 250px;    
}
.LLWT{
    margin-left: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2%;
    background-color: rgb(180, 221, 233);
}
.Responsive{
    display: flex;
    margin-bottom: 50px;
    margin-left: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2%;
    background-color: rgb(247, 161, 242)
}
.Responsive-2{
    margin-left: 200px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(218, 205, 208)
}
.Dynamic{
    display: flex;
    margin-bottom: 50px;
    margin-left: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2%;
    background-color: rgba(142, 238, 224, 0.592)
}
.Dynamic-2{
    margin-left: 200px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(123, 138, 236)}

.Fast{
        display: flex;
        margin-bottom: 50px;
        margin-left: 40px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 2%;
        background-color: rgba(166, 245, 164, 0.592)
    }
.Fast-2{
        margin-left: 200px;
        width: 90%;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 1%;
        background-color: rgb(201, 132, 132)}
footer h2{
            text-align: center;
            font-style: italic;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
footer p{
    text-align: center;
    color: cyan;
}
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 20px;
}